body {
    background: url("../img/bg.jpg") no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
    color: white;
    padding-top: 150px;
}

header {
    text-align: center;
}

#page-title, .description {
    font-family: 'Source Sans Pro';
}

#page-title {
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    letter-spacing: 5px;
}

.description {
    font-size: 1.2em;
}