body {
    background: url("../img/bg.jpg") no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
    color: white;
    padding-top: 40px;
}

header {
    text-align: center;
}

#page-title, .description {
    font-family: 'Source Sans Pro';
}
#page-title {
    /*text-transform: uppercase;*/
    color: white;
    /*font-weight: bold;*/
    /*letter-spacing: 5px;*/
    font-family: 'Cookie', cursive;
    text-transform: none;
    letter-spacing: normal;
    font-size: 5em;
    margin-bottom: 0;
}

.description {
    font-size: 1.2em;
}

.profile-card {
    background: rgba(255, 255, 255, 0.9);
    width: 300px;
    height: 350px;
    border-radius: 3px;
    padding: 30px 0;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.16);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.16);
}

/* Progress bar */

.progress {
    margin: 0 auto 2rem auto;
    padding: 0;
    width: 90%;
    height: 30px;
    overflow: hidden;
    background: white;
    border-radius: 6px;
}

.meter {
    position: relative;
    float: left;
    min-width: 1%;
    height: 100%;
}

.percent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-family: tahoma,arial,helvetica;
    font-size: 12px;
    color: white;
}

.meter.blue {
    background: cornflowerblue;
}


/* Profile cards */

.profile-picture {
    width: 200px;
    height: 200px;
    margin-top: 20px;
    /*background: white;*/
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    margin: 0 auto;
    overflow: hidden;
    border: 1px solid whitesmoke;
}

    .profile-picture img {
        width: 100%;
    }

.profile-name, .profile-handler {
    color: slategray;
}

.profile-name {
    margin: 20px 0 0 0;
    font-size: 1.2em;
}

.profile-handler {

}